@import "tailwindcss";

*{
    box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style:none;
    scrollbar-width: none;
}

/* Making Scrollbar Nice */
textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}